lines (94 sloc)  3.81 KB
   
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='aboutus.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="">

    <title>Events</title>
</head>

<body>
    <nav >
        <span id="logo"><a href="{{ url_for('home_page')}}"">Bridging<span id="logoz">Lives</a></span></span>
 
        <a href="{{ url_for('aboutus_page')}}">About Us</a> 
        <a href="{{ url_for('events_page')}}">Events</a> 
        <a href="{{ url_for('contactus_page')}}">Contact Us</a> 
        <a href="#">Infographics</a>
        <button class="btn"><a href="{{ url_for('login_page')}}">Login</a></button>   
    </nav>
    <script src="{{ url_for('static',filename='events.js')}}"></script>

    <div class="main-body">
        <h1>Event Suggestion Page</h1>
        <p>We at Bridging lives have created an algorithm wherein it makes it easier for the volunteers to organize <br> a particular event based on the age group the want to conduct it for and the budget they can spare for the same. <br> <br> It is still
            in BETA phase <br><br> </p>
        <h3>Please select any one of the following options:</h3>
        <h1>Age Group</h1>
        <label for="small">
            <input type="radio" name="age" id="small" onclick="ShowHiddenDiv()" />
            2-7 Ages
        </label>
        <label for="medium">
            <input type="radio" name="age" id="medium" onclick="ShowHiddenDiv()" />
            8-11 Ages
        </label>
        <label for="big">
            <input type="radio" name="age" id="big" onclick="ShowHiddenDiv()" />
            12-15 Ages
        </label>

        <div id="budget" style="display: none;">
            <h1>Budget</h1>
            <label for="cat1">
                <input type="radio" name="price" id="cat1" onclick="ShowHiddenDiv()" />
                upto 5000
            </label>
            <label for="cat1">
                <input type="radio" name="price" id="cat2" onclick="ShowHiddenDiv()" />
                5000-10000
            </label>
            <label for="cat3">
                <input type="radio" name="price" id="cat3" onclick="ShowHiddenDiv()" />
                10000-15000
            </label>
        </div>



        <div id="msg1" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.ABC <br>2.BCD<br> 3.EFG<br>
        </div>
        <div id="msg2" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br>1.Apple <br>2.bannana<br> 3.orrange<br>
        </div>
        <div id="msg3" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.red <br>2.green <br> 3.yellow <br>
        </div>
        <div id="msg4" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.red <br>2.green <br> 3.yellow <br>
        </div>
        <div id="msg5" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.red <br>2.green <br> 3.yellow <br>
        </div>
        <div id="msg6" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.red <br>2.green <br> 3.yellow <br>
        </div>
        <div id="msg7" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.red <br>2.green <br> 3.yellow <br>
        </div>
        <div id="msg8" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.red <br>2.green <br> 3.yellow <br>
        </div>
        <div id="msg9" style="display: none">
            <br>
            <h3>Following are the events that you can consider:</h3>
            <br> 1.red <br>2.green <br> 3.yellow <br>
        </div>
    </div>


</body>

</html>